In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Sebuah Sejarah üîñ

Jadi awal banget itu kita solve masalah kek text misal classification dll itu approachnya adalah dengan menggunakan ml konvensional, jadi awalnya teks akan dicleaning setelah itu di `extract` umumnya sih pake `BoW atau Tf-Idf` or dicombine. After that langsung kita cemplungin ke model. Modelnya apa? ini terserah aja sih.

Mungkin aga lompat, kemarin kita belum sempet bahas tentang BoW dan Tf-Idf di Episode_1. <br>
Jadi apa it BoW? Bag-of-Words adalah metode sederhana untuk representasi teks.  
Dia menghitung **berapa kali setiap kata muncul** dalam sebuah dokumen, tanpa peduli urutan atau struktur kalimat.

In [2]:
docs = [
    "saya makan bakso",
    "bakso enak dan panas",
    "saya juga suka makan sate"
]

In [10]:
vectorizer = CountVectorizer()
bow_matrix = vectorizer.fit_transform(docs)

feature_names = vectorizer.get_feature_names_out()
# Buat DataFrame
df_bow = pd.DataFrame(bow_matrix.toarray(), columns=feature_names)

print("BoW DataFrame:")
print(df_bow)

BoW DataFrame:
   bakso  dan  enak  juga  makan  panas  sate  saya  suka
0      1    0     0     0      1      0     0     1     0
1      1    1     1     0      0      1     0     0     0
2      0    0     0     1      1      0     1     1     1

Tuh keliatan kan temen2? jadi si bakso keluar 2x, terus enak 1x dll. Jadi bener2 cuma itung aja gitu berapa kali dia muncul?

Lanjut, TF-Idf itu apa? jadi Term Frequency - Inverse document frequency itu ngasi bobot berdasarkan sbrpa penting sbuah kata dalam suatu dokumen relatif thd seluruh koleksi dokumen. **Jadi kl ada kata yg sering muncul di dok tertentu, tapi jarang di dok lain, nah itu penting!**

Masih bingung kenapa gitu? okee tak kasih short example. Kalo kita lagi baca berita di koran.
- Berita 1
‚ÄúTimnas Indonesia berhasil menang 3-0 dalam laga semifinal melawan Senegal Piala Dunia. Hatrick berhasil disarangkan oleh Ridwan. Pelatih memujinya, kita telah menemukan kombinasi kehebatan Ronaldo dan Messi dalam satu pemuda bernama Ridwan‚Äù
- Berita 2
‚ÄúPresiden meresmikan pembangunan jembatan di Kalimantan. Menteri PUPR turut hadir dalam peresmian.‚Äù
- Berita 3
‚ÄúBank Indonesia menurunkan suku bunga acuan. Inflasi diperkirakan tidak terkendali hingga akhir tahun.‚Äù

Nah disitu kita ambil 2 kata deh, `Indonesia` dan `Ridwan`. Indonesia muncul di seluruh dokumen berita, jadi bukan kata unik, biasanya kita classify dia juga jadi "stopwords". Nah Ridwan cuma muncul di 1 dokumen yaitu berita olahraga, dia disebut di konteks sepakbola hingga 2 kali wicis sering, tapi ga muncul di berita ekonomi dan politik maka Tf-Idf dia tinggi karena unik dan penting di konteks artikel tsb.

In [11]:
berita = [
    "Timnas Indonesia berhasil menang 3-0 dalam laga semifinal melawan Senegal Piala Dunia. Hatrick berhasil disarangkan oleh Ridwan. Pelatih memujinya, kita telah menemukan kombinasi kehebatan Ronaldo dan Messi dalam satu pemuda bernama Ridwan",
    "Presiden meresmikan pembangunan jembatan di Kalimantan. Menteri PUPR turut hadir dalam peresmian",
    "Bank Indonesia menurunkan suku bunga acuan. Inflasi diperkirakan tidak terkendali hingga akhir tahun"
]

In [16]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(berita)

# Dapatkan nama fitur (kata-kata)
feature_names = tfidf_vectorizer.get_feature_names_out()

# Buat DataFrame
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)

print("TF-IDF DataFrame:")
df_tfidf.iloc[:,30:]

TF-IDF DataFrame:

,messi,oleh,pelatih,pembangunan,pemuda,peresmian,piala,presiden,pupr,ridwan,...,satu,semifinal,senegal,suku,tahun,telah,terkendali,tidak,timnas,turut
0,0.169292,0.169292,0.169292,0.000000,0.169292,0.000000,0.169292,0.000000,0.000000,0.338585,...,0.169292,0.169292,0.169292,0.00000,0.00000,0.169292,0.00000,0.00000,0.169292,0.000000
1,0.000000,0.000000,0.000000,0.293884,0.000000,0.293884,0.000000,0.293884,0.293884,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.293884
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.28196,0.28196,0.000000,0.28196,0.28196,0.000000,0.000000

Nah kalo kalian aware disitu keliatan vektor Ridwan itu tinggi banget dibanding yg lainnya. Itu deh salah satu contohnya. Semoga makin clear yaa...